@import "tailwindcss";

@theme {
  --color-green: #5fb4a2;
  --color-blue: #33323d;
  --color-red: #f43030;
  --color-gray-100: #fafafa;
  --color-gray-200: #eaeaeb;
  --color-gray-900: #33323d;
}

.ibarra {
  font-family: "Ibarra Real Nova", serif;
}

.sans {
  font-family: "Public Sans", sans-serif;
}

.h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.446429px;
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
}

.h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.285714px;
}

.body-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.body-2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
